<!DOCTYPE html>
<html>
<head>
    <title>StatusPost</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>StatusPost</h1>
    <div class="form">
        <form id="f">
            <input type="text" id="msg" placeholder="Message..." required>
            <button type="submit">Post</button>
        </form>
    </div>
    <div id="status" class="disconnected">Connecting...</div>
    <div id="messages">
{{ for each <msg> in <recent-messages> { }}
        <div class="message">
            <div class="time">{{ <msg: createdAt> | date: "dd.MM.yyyy HH:mm" }}</div>
            <div>{{ <msg: message> }}</div>
        </div>
{{ } }}
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
